In [ ]:
import sqlite3

conn = sqlite3.connect("historique1_sqlite.db")
cursor = conn.cursor()

cursor.execute("SELECT sql FROM sqlite_master WHERE type='table'")
ddl_statements = [row[0] for row in cursor.fetchall()]
for stmt in ddl_statements:
    print(stmt)

CREATE TABLE "contrat" (
"id_contrat" INTEGER,
  "id_personne" INTEGER,
  "matricule_personne" INTEGER,
  "numero_full" TEXT,
  "date_embauche" TIMESTAMP,
  "rupture_contrat" INTEGER,
  "date_rupture_contrat" TIMESTAMP,
  "emploi" TEXT
)
CREATE TABLE "formule" (
"id_formule" INTEGER,
  "id_rubrique" INTEGER,
  "nom_alias" TEXT,
  "designation" TEXT
)
CREATE TABLE "historique" (
"id_personne" INTEGER,
  "id_contrat" INTEGER,
  "annee" INTEGER,
  "mois" INTEGER,
  "id_rubrique" INTEGER,
  "id_formule" INTEGER,
  "etablissement" TEXT,
  "section" TEXT,
  "valeur" REAL
)
CREATE TABLE "personne" (
"id_personne" INTEGER,
  "matricule_personne" INTEGER,
  "nom" TEXT,
  "prenom" TEXT,
  "sexe" INTEGER,
  "date_naissance" TEXT,
  "code_postal" TEXT,
  "ville" TEXT,
  "type_salarie" INTEGER
)
CREATE TABLE "rubrique" (
"id_rubrique" INTEGER,
  "nom_alias" TEXT,
  "designation" TEXT,
  "nom_classe_designation" TEXT
)

In [2]:
"\n".join([row[0] for row in conn.execute("SELECT sql FROM sqlite_master WHERE type='table'")])

'CREATE TABLE "contrat" (\n"id_contrat" INTEGER,\n  "id_personne" INTEGER,\n  "matricule_personne" INTEGER,\n  "numero_full" TEXT,\n  "date_embauche" TIMESTAMP,\n  "rupture_contrat" INTEGER,\n  "date_rupture_contrat" TIMESTAMP,\n  "emploi" TEXT\n)\nCREATE TABLE "formule" (\n"id_formule" INTEGER,\n  "id_rubrique" INTEGER,\n  "nom_alias" TEXT,\n  "designation" TEXT\n)\nCREATE TABLE "historique" (\n"id_personne" INTEGER,\n  "id_contrat" INTEGER,\n  "annee" INTEGER,\n  "mois" INTEGER,\n  "id_rubrique" INTEGER,\n  "id_formule" INTEGER,\n  "etablissement" TEXT,\n  "section" TEXT,\n  "valeur" REAL\n)\nCREATE TABLE "personne" (\n"id_personne" INTEGER,\n  "matricule_personne" INTEGER,\n  "nom" TEXT,\n  "prenom" TEXT,\n  "sexe" INTEGER,\n  "date_naissance" TEXT,\n  "code_postal" TEXT,\n  "ville" TEXT,\n  "type_salarie" INTEGER\n)\nCREATE TABLE "rubrique" (\n"id_rubrique" INTEGER,\n  "nom_alias" TEXT,\n  "designation" TEXT,\n  "nom_classe_designation" TEXT\n)'

In [3]:
tables = [row[0] for row in cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")]

relations = []

for table in tables:
    cursor.execute(f"PRAGMA foreign_key_list('{table}')")
    for row in cursor.fetchall():
        relations.append({
            "from_table": table,
            "from_column": row[3],  # colonne dans la table courante
            "to_table": row[2],     # table référencée
            "to_column": row[4]     # colonne dans la table référencée
        })

for rel in relations:
    print(f"{rel['from_table']}.{rel['from_column']} → {rel['to_table']}.{rel['to_column']}")